<?xml version="1.0" encoding="GB2312"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="feedManager" class="com.taobao.tasty.manager.FeedManager"  />
	<bean id="commentManager" class="com.taobao.tasty.manager.CommentManager"  />
	<bean id="likeManager" class="com.taobao.tasty.manager.LikeManager"  />
	<bean id="messageManager" class="com.taobao.tasty.manager.impl.MsgManagerImpl" />
	<bean id="userManager" class="com.taobao.tasty.manager.impl.UserManagerImpl" />
</beans>